<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springboot.springbootshop.mapper.DetailMapper">
  <resultMap id="BaseResultMap" type="com.springboot.springbootshop.model.Detail">
    <id column="did" jdbcType="INTEGER" property="did" />
    <result column="gid" jdbcType="INTEGER" property="gid" />
    <result column="model" jdbcType="VARCHAR" property="model" />
    <result column="color" jdbcType="VARCHAR" property="color" />
    <result column="price" jdbcType="DOUBLE" property="price" />
    <result column="stock" jdbcType="INTEGER" property="stock" />
  </resultMap>
  <sql id="Base_Column_List">
    did, gid, model, color, price, stock
  </sql>


  <delete id="deleteBygid" parameterType="java.lang.Integer">
    delete from detail
    where gid = #{gid,jdbcType=INTEGER}
  </delete>

  <update id="updateByColorAndModelAndGidSelective" parameterType="com.springboot.springbootshop.model.Detail">
    update detail
    <set>
      <if test="gid != null">
        gid = #{gid,jdbcType=INTEGER},
      </if>
      <if test="model != null">
        model = #{model,jdbcType=VARCHAR},
      </if>
      <if test="color != null">
        color = #{color,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=DOUBLE},
      </if>
      <if test="stock != null">
        stock = #{stock,jdbcType=INTEGER},
      </if>
    </set>
    where gid = #{gid,jdbcType=INTEGER} and  model = #{model,jdbcType=VARCHAR}, and color = #{color,jdbcType=VARCHAR}
  </update>

  <select id="selectDetailsByGid" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select *
    from detail
    where gid = #{gid,jdbcType=INTEGER}
  </select>

  <select id="getAllDetails" resultMap="BaseResultMap">
    select * from detail
</select>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from detail
    where did = #{did,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from detail
    where did = #{did,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.springboot.springbootshop.model.Detail">
    insert into detail (did, gid, model, 
      color, price, stock)
    values (#{did,jdbcType=INTEGER}, #{gid,jdbcType=INTEGER}, #{model,jdbcType=VARCHAR}, 
      #{color,jdbcType=VARCHAR}, #{price,jdbcType=DOUBLE}, #{stock,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.springboot.springbootshop.model.Detail">
    insert into detail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="did != null">
        did,
      </if>
      <if test="gid != null">
        gid,
      </if>
      <if test="model != null">
        model,
      </if>
      <if test="color != null">
        color,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="stock != null">
        stock,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="did != null">
        #{did,jdbcType=INTEGER},
      </if>
      <if test="gid != null">
        #{gid,jdbcType=INTEGER},
      </if>
      <if test="model != null">
        #{model,jdbcType=VARCHAR},
      </if>
      <if test="color != null">
        #{color,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        #{price,jdbcType=DOUBLE},
      </if>
      <if test="stock != null">
        #{stock,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.springboot.springbootshop.model.Detail">
    update detail
    <set>
      <if test="gid != null">
        gid = #{gid,jdbcType=INTEGER},
      </if>
      <if test="model != null">
        model = #{model,jdbcType=VARCHAR},
      </if>
      <if test="color != null">
        color = #{color,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=DOUBLE},
      </if>
      <if test="stock != null">
        stock = #{stock,jdbcType=INTEGER},
      </if>
    </set>
    where did = #{did,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.springboot.springbootshop.model.Detail">
    update detail
    set gid = #{gid,jdbcType=INTEGER},
      model = #{model,jdbcType=VARCHAR},
      color = #{color,jdbcType=VARCHAR},
      price = #{price,jdbcType=DOUBLE},
      stock = #{stock,jdbcType=INTEGER}
    where did = #{did,jdbcType=INTEGER}
  </update>
</mapper>