<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springboot.springbootshop.mapper.UsermessageMapper">
  <resultMap id="BaseResultMap" type="com.springboot.springbootshop.model.Usermessage">
    <id column="mid" jdbcType="INTEGER" property="mid" />
    <result column="oid" jdbcType="INTEGER" property="oid" />
    <result column="nickname" jdbcType="VARCHAR" property="nickname" />
    <result column="goodsname" jdbcType="VARCHAR" property="goodsname" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="details" jdbcType="VARCHAR" property="details" />
    <result column="state" jdbcType="INTEGER" property="state" />
    <result column="send_time" jdbcType="VARCHAR" property="sendTime" />
  </resultMap>
  <sql id="Base_Column_List">
    mid, oid, nickname, goodsname, address, phone, details, state, send_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from usermessage
    where mid = #{mid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from usermessage
    where mid = #{mid,jdbcType=INTEGER}
  </delete>

  <select id="selectByOid" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from usermessage
    where oid = #{oid,jdbcType=INTEGER}
  </select>





  <select id="getAllUsermessagen" resultType="com.springboot.springbootshop.model.Usermessage" parameterType="java.lang.Integer">
		select * from usermessage

	</select>

  <insert id="insert" parameterType="com.springboot.springbootshop.model.Usermessage">
    insert into usermessage (mid, oid, nickname, 
      goodsname, address, phone, 
      details, state, send_time
      )
    values (#{mid,jdbcType=INTEGER}, #{oid,jdbcType=INTEGER}, #{nickname,jdbcType=VARCHAR}, 
      #{goodsname,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, 
      #{details,jdbcType=VARCHAR}, #{state,jdbcType=INTEGER}, #{sendTime,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.springboot.springbootshop.model.Usermessage">
    insert into usermessage
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="mid != null">
        mid,
      </if>
      <if test="oid != null">
        oid,
      </if>
      <if test="nickname != null">
        nickname,
      </if>
      <if test="goodsname != null">
        goodsname,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="details != null">
        details,
      </if>
      <if test="state != null">
        state,
      </if>
      <if test="sendTime != null">
        send_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="mid != null">
        #{mid,jdbcType=INTEGER},
      </if>
      <if test="oid != null">
        #{oid,jdbcType=INTEGER},
      </if>
      <if test="nickname != null">
        #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="goodsname != null">
        #{goodsname,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="details != null">
        #{details,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        #{state,jdbcType=INTEGER},
      </if>
      <if test="sendTime != null">
        #{sendTime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.springboot.springbootshop.model.Usermessage">
    update usermessage
    <set>
      <if test="oid != null">
        oid = #{oid,jdbcType=INTEGER},
      </if>
      <if test="nickname != null">
        nickname = #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="goodsname != null">
        goodsname = #{goodsname,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="details != null">
        details = #{details,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=INTEGER},
      </if>
      <if test="sendTime != null">
        send_time = #{sendTime,jdbcType=VARCHAR},
      </if>
    </set>
    where mid = #{mid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.springboot.springbootshop.model.Usermessage">
    update usermessage
    set oid = #{oid,jdbcType=INTEGER},
      nickname = #{nickname,jdbcType=VARCHAR},
      goodsname = #{goodsname,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      details = #{details,jdbcType=VARCHAR},
      state = #{state,jdbcType=INTEGER},
      send_time = #{sendTime,jdbcType=VARCHAR}
    where mid = #{mid,jdbcType=INTEGER}
  </update>
</mapper>